argcomplete==2.0.0
Babel==2.9.1
beautifulsoup4==4.11.2
blivet==3.4.4
blivet-gui==2.3.0
certifi==2022.12.7
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.11
cupshelpers==1.0
dasbus==1.6
dbus-python==1.2.18
decorator==5.1.1
distlib==0.3.6
distro==1.6.0
evdev==1.5.0
filelock==3.9.0
gpg==1.17.0
gssapi==1.7.2
humanize==3.13.1
identify==2.5.19
idna==3.3
initial-setup==0.3.94
koji==1.32.0
langtable==0.0.61
libcomps==0.1.18
lutris==0.5.12
lxml==4.7.1
mutagen==1.46.0
nftables==0.1
nodeenv==1.7.0
olefile==0.46
packaging==21.3
pexpect==4.8.0
pid==2.2.3
Pillow==9.1.0
platformdirs==3.0.0
ply==3.11
pre-commit==3.1.1
productmd==1.33
progressbar2==3.53.2
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.21.0
pycparser==2.20
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
pygit2==1.7.1
PyGObject==3.42.1
pykickstart==3.36
pyparsing==2.4.7
pyparted==3.12.0
pypresence==4.2.1
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.50
python-utils==2.5.6
pytz==2022.7.1
pyudev==0.22.0
pyxdg==0.27
PyYAML==6.0
regex==2022.10.31
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rpm==4.17.1
rpmautospec==0.3.5
selinux==3.3
sepolicy==3.3
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.3
soupsieve==2.3.1
systemd-python==234
urllib3==1.26.12
virtualenv==20.19.0
